{% extends 'base.html' %}

{% block main %}
<div class="bg-blue-50 border border-blue-200 text-blue-900 px-6 py-4 rounded-xl shadow-md mb-6">
  <h2 class="text-xl font-semibold">Welcome back, <br><span class="font-bold">{{ current_user.first_name }} {{ current_user.last_name }}</span> 👋</h2>
</div>
{% endblock %}

{% block dashClass %}
rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white
{% endblock %}
{% block ordersClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block returnsClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block reportingClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
