{% extends 'base.html' %}

{% block main %}
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <caption
                    class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Our orders
                    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of Flowbite
                        products designed to help you work and play, stay organized, get answers, keep in touch, grow
                        your business, and more.</p>
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Order #
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Customer
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">View</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ order.id }}
                        </th>
                        <td class="px-6 py-4">
                            {{ order.customer.name }}
                        </td>
                        <td class="px-6 py-4 text-right">
                            <a href="{{ url_for('order_details', id=order.id) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">View</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

{% block dashClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block ordersClass %}
rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white
{% endblock %}
{% block returnsClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block reportingClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
