{% extends 'base.html' %}

{% block title %}Reporting{% endblock %}

{% block main %}

{% endblock %}

{% block dashClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block ordersClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block returnsClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}
{% block reportingClass %}
rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white
{% endblock %}
{% block plumsailClass %}
rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white
{% endblock %}